id ICON "ld_icon.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "N/A"
      VALUE "FileDescription", "LD33 Game!"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "LD33Game"
      VALUE "LegalCopyright", "Seth N. Hetu"
      VALUE "OriginalFilename", "LD33Game.exe"
      VALUE "ProductName", "LD33Game"
      VALUE "ProductVersion", "1.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
